.phpunit.cache/
docs/
node_modules/
tests/
translations/
var/
vendor/
.drone.yml
.env.test
.git
.gitignore
.idea
.php-cs-fixer.dist.php
.rr.dev.yaml
docker-compose.yml
phpstan.neon
phpunit.xml
phpunit.xml.dist
yarn-error.log