<span class="itemHeading">Total:</span> {{ memory.total }}
<br/>
<span class="itemHeading">Free:</span> {{ memory.free }}
<br/>
<span class="itemHeading">Available:</span> {{ memory.available }}
<br/>
<span class="itemHeading">Buffered:</span> {{ memory.buffers }}
<br/>
<span class="itemHeading">Cached:</span> {{ memory.cached }}